<?xml version="1.0" encoding="ISO-8859-1"?>

<plugin xmlns="http://www.willuhn.de/schema/jameica-plugin"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.willuhn.de/schema/jameica-plugin http://www.willuhn.de/schema/jameica-plugin-1.2.xsd"
        name="hibiscus.depotviewer" version="0.3.7" class="de.open4me.depot.DepotViewerPlugin">

  <description>Depot Viewer -- Beta-Version für Tester </description>
  <url>http://www.open4me.de/hibiscus/hibiscus.depotviewer/hibiscus.depotviewer.zip</url>
  <homepage>https://github.com/littleyoda/hibiscus.depotviewer</homepage>
  <license>GPL - http://www.gnu.org/copyleft/gpl.html</license>

  <requires jameica="2.6.0+">
    <import plugin="hibiscus" version="2.6.12+" />
    <import plugin="hibiscus.scripting.htmlunit" version="2.13+" />
  </requires>

  <!-- Define regex wildcards for the classes and jars the classfinder should load -->
  <classfinder>
    <include>hibiscus\.depotviewer\.jar</include>
    <include>.*\.class</include>
  </classfinder>

<extensions>
  <extension extends="hibiscus.navi" class="de.open4me.depot.gui.Navi"/>
</extensions> 
  <navigation>
    <item name="Depot-Viewer" icon-close="folder.png" icon-open="folder-open.png" action="de.open4me.depot.gui.action.DepotListAction">
      <item name="Depots" icon-close="seahorse-preferences.png" action="de.open4me.depot.gui.action.DepotListAction" />
      <item name="Wertpapiere" icon-close="invest.png" action="de.open4me.depot.gui.action.WertpapierAction" />
      <item name="Orderbuch" icon-close="emblem-documents.png" action="de.open4me.depot.gui.action.OrderList" />
      <item name="Bestand" icon-close="system-file-manager.png" action="de.open4me.depot.gui.action.BestandAction" />
      <item name="Gewinn/Verlust" icon-close="" action="de.open4me.depot.gui.action.BewertungsAction" />
    </item>
  </navigation>

  <menu>
    <item id="depotviewer.menu"                             name="Depot-&amp;Viewer">
        <item id="depotviewer.import"        name="&amp;Import von Ordern/Umsätze..."       shortcut="ALT+I"                     action="de.open4me.depot.gui.action.UmsatzImportAction" />
        <item id="depotviewer.abgleich"        name="&amp;Abgleich zwischen Orderbuch und Bestand..."       shortcut="ALT+A"                 action="de.open4me.depot.gui.action.BestandspruefungAction" />
        <item id="depotviewer.wpadd"        name="Neues &amp;Wertpapier hinzufügen..."       shortcut="ALT+W"                 action="de.open4me.depot.gui.action.AddWertpapierAction" />
      <item name="-" />
        <item id="depotviewer.einrichtugnsass"        name="&amp;Einrichtungsassistenten..."       shortcut="ALT+E"                 action="de.open4me.depot.gui.action.EinrichtungsassistentenAction" />
        
      <item name="-" />
      <item id="LizenzinformationAction"               name="&amp;Lizenzinformationen"                      icon="text-x-generic.png"              action="de.open4me.depot.gui.action.LizenzinformationAction" />
<!--      <item id="hibiscus.menu.about"                 name="&amp;Über"                                     icon="gtk-info.png"                    action="de.willuhn.jameica.hbci.gui.action.About" /> -->
    </item>
  </menu>

</plugin>

